html {
    height: 100%;
    
}

h1, h2, h3, p {
    font-family: 'Roboto';
    font-weight: 200;
}

body {
    background-image: url("background.jpg");
    height: 100%;
    position: relative;
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.present-container {
    height: 400px;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFF;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.present-container>div {
    flex: 1 0 50%;
}
  
.present-container>div:first-child {
    flex: 0 1 100%;
}

#present-header {
    align-self: flex-start;
}

#z-dnyhoy {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 16px;
}

#podarochki {
    margin: 0;
    margin-top: 4px;
    text-align: center;
}

.present {
    width: 96px;
    height: 96px;
    background: url("present.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.corgi {
    background-image: url("corzh.png");
    background-size: contain;
    width: 40px;
    height: 53px;
    float: left;
    margin-left: 4.76%;
    margin-right: -40px;
    animation-name: falling;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
    margin-top: -54px;
}

@keyframes falling {
    0% {
        margin-top: -50px;
    }
    100% {
        margin-top: 130%;
    }
}

.corgi-1 {
    margin-left: 2.38%;
}

.corgi-2 {
    animation-duration: 3.2s;
}
.corgi-3 {
    animation-duration: 7.6s;
}
.corgi-4 {
    animation-duration: 4.7s;
}
.corgi-5 {
    animation-duration: 2.8s;
}
.corgi-6 {
    animation-duration: 5.1s;
}
.corgi-7 {
    animation-duration: 6.6s;
}
.corgi-8 {
    animation-duration: 2.7s;
}
.corgi-9 {
    animation-duration: 8.1s;
}
.corgi-10 {
    animation-duration: 3.6s;
}
.corgi-11 {
    animation-duration: 5.4s;
}
.corgi-12 {
    animation-duration: 7.3s;
}
.corgi-13 {
    animation-duration: 4.5s;
}
.corgi-14 {
    animation-duration: 2.2s;
}
.corgi-15 {
    animation-duration: 5.7s;
}
.corgi-16 {
    animation-duration: 1.9s;
}
.corgi-17 {
    animation-duration: 2.4s;
}
.corgi-18 {
    animation-duration: 9.2s;
}
.corgi-19 {
    animation-duration: 4.2s;
}
.corgi-20 {
    animation-duration: 6.6s;
}
.corgi-20 {
    animation-duration: 2.3s;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 24px;
    width: 24rem;
    border-radius: 0.5rem;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#main-surprise-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.surprise-4 > .modal-content {
    width: 680px;
}

.loader > .modal-content {
    width: 80px;
}

#main-surprise-container > div {
    margin-top: 48px;
}

#main-surprise-container > div > img {
    width: 32px;
    height: 32px;
}

#main-surprise-container > div > h1 {
    margin-bottom: 8px;
    font-weight: 500;
}
#main-surprise-container > div > h3 {
    margin-top: 0px;
}
#main-surprise-hotel-booking {
    margin-top: 10px;
}
#main-surprise-hotel-name {
    margin-top: 20px;
}

a {
    color: black;
    text-decoration: none;
}

#hotel-container::after {
    content: "";
    background-image: url("witt-hotel.jpg");
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#flight-container::after {
    content: "";
    background-image: url("mau-plane.jpg");
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    position: absolute;
    z-index: -1;   
}



#container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .btn-tada {
    padding: 12px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-image: linear-gradient(
      90deg,
      #03a9f4 0%,
      #8bc34a 33.33%,
      #ffc107 66.66%,
      #ff5722 100%
    );
    background-size: 300% 100%;
    background-position: 0% 0%;
    border: none;
    color: #fff;
    font-weight: 500;
  }
  
  .btn-tada:hover {
    animation: background 1s ease-in-out infinite alternate;
  }
  
  .paper {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 0;
    will-change: transform;
    perspective: 500px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(0deg) rotateX(0deg);
    }
  
    100% {
      transform: rotateY(1080deg) rotateX(360deg);
    }
  }
  
  @keyframes background {
    0% {
      background-position: 0% 0%;
    }
  
    100% {
      background-position: 100% 0%;
    }
  }
  